.content{
    display:flex;
    justify-content: center;

}
.addbookform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50px;
    margin-top: 2.5%;
    width: 50%;
    height: 600px;
    background: linear-gradient(75deg,rgb(56, 7, 121),rgb(108, 17, 182),rgb(122, 29, 228),rgb(134, 51, 243),rgb(153, 46, 241),rgb(189, 41, 248));
    border:2px;
    border-style: solid;
    border-color: rgb(59, 4, 85);
}
.addbookform form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}
#loadcover{
    display: none;
}
.adddescription{
    margin-top:3%;
    height: 50px;
    width: 98%;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(59, 4, 85);
    font-size: 15px;
    font-weight: bold;
}
.sumbitbutton{
    font-size: 15px;
    font-weight: bold;
    margin-top:3%;
    height: 60px;
    width:300px;
    border-radius: 30px;
    border:2px;
    border-style: solid;
    border-color: beige;
    background: linear-gradient(90deg,rgb(180, 243, 144),rgb(132, 236, 129),rgb(76, 252, 69),rgb(52, 196, 64),rgb(6, 163, 14));

}
.sumbitbutton:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
.custom-file-upload{
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    width: 200px;
    height: 40px;
    color: beige;
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(88, 46, 241),rgb(141, 51, 243));
    border-radius: 30px;
    font-weight: bold;
    border:2px;
    border-style: solid;
}
.custom-file-upload:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
#delete{
    background: linear-gradient(90deg,rgb(250, 163, 163),rgb(219, 114, 114),rgb(241, 72, 72),rgb(202, 39, 39),rgb(218, 17, 17));
}
#delete:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
@media screen and (min-width: 1800px) {
    .username{
        margin-top: 0%;
    }
    .addbookform{
        height: 700px;
    }
}
@media screen and (max-width: 900px) {
    .addbookform{
        width: 80%;
        height: 800px;
    }
    .sumbitbutton{
        width:230px;
    }
    .custom-file-upload{
        font-size: 16px;
    }
}
@media screen and (max-width: 560px) {
    .addbookform{
        width: 90%;
        height: 700px;
    }
    .sumbitbutton{
        width:200px;
    }   
    .custom-file-upload{
        font-size: 12px;
        width: 150px;
    }
}
@media screen and (max-width: 349px) {
    .addbookform{
        width: 100%;
        height: 600px;
    }
}