.content{
    display: flex;
}
.chatcontainer{
    border:2px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 500px;
    background: linear-gradient(90deg,rgb(56, 7, 121),rgb(108, 17, 182),rgb(122, 29, 228),rgb(134, 51, 243),rgb(153, 46, 241),rgb(189, 41, 248));
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding-bottom: 3.5%;
    border-radius: 50px;
}
.information{
    display: flex;
    background:linear-gradient(-90deg, rgb(205, 151, 226),rgb(190, 129, 214),rgb(169, 94, 199));
    border-radius: 50px;
    flex-direction: row;
    min-height: 500px;
    width: 100%;
    margin-bottom: 15px;
}
.imagebook{
    border:3px;
    border-style: solid;
    border-color:beige;
    margin-left: 5.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: gray;
    height: 420px;
    border-radius: 30px;
    overflow: hidden;
}
.imagebook img{
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
.bookdescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px;
    border-style: solid;
    border-color:beige;
    background: linear-gradient(-45deg,rgb(255, 249, 233),rgb(240, 224, 202) 30%,rgb(248, 219, 164),rgb(247, 204, 148));
    padding-left: 2%;
    font-size: 20px;
    margin-top: 3%;
    padding-top: 2%;
    width: 58%;
    height: 76%;
    border-radius: 20px;
}
.use{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addfavourite{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}
.addfavourite img{
    height: 100%;
    width: 100%;
}
.changebook{
    height: 100%;
}
#favorite{
    height: 100px;
    width: auto;
    margin-bottom: 20px;
    margin-right: 15px;
    border:2px;
    border-style: solid;
    border-radius: 50px;
    color: beige;
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(88, 46, 241),rgb(141, 51, 243));
    font-size: 25px;
    font-weight: bold;
}
#favorite:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
.chat{
    display: flex;
    flex-direction: column;
    min-height: 0px;
}
.chat form{
    width: 100%;
}
.addmassage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height:0px;

}
.textmassage{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    height:32px;
    font-size: 20px;
    background-color: rgb(253, 227, 227);
    border:1px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 15px;
    overflow:auto;
}
  
p{
    white-space: pre;
}
.public{
    height: 100px;
    width: 50%;
    margin-bottom: 20px;
    border:2px;
    border-style: solid;
    border-radius: 50px;
    color: beige;
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(88, 46, 241),rgb(141, 51, 243));
    font-size: 25px;
    font-weight: bold;
}
.public:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
.allmassages{
    display: flex;
    flex-direction: column;
    min-height: 0px;
    padding-bottom: 25px;
}
.massage{
    min-height:63px;
    width:100%;
}
.someonemessage{
    float: left;
    display: flex;
    margin-top: 15px;
    margin-left: 7px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    width: max-content;
    max-width: 85%;
    color: beige;
    background: linear-gradient(90deg,rgb(163, 30, 6),rgb(182, 66, 13),rgb(206, 107, 14),rgb(207, 134, 24),rgb(223, 139, 31),rgb(221, 184, 21));
    border:1px;
    border-style: solid;
    border-radius: 30px;
}
.yourmessage{
    padding-right: 10px;
    float: right;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    margin-right: 7px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    width: max-content;
    max-width: 85%;
    color: beige;
    background: linear-gradient(45deg,rgb(126, 151, 218),rgb(103, 128, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(76, 38, 211),rgb(116, 37, 206));
    border:1px;
    border-style: solid;
    border-radius: 30px;
}
.massagetext{
    display: flex;
    align-items: center;
    margin-left: 2%;
    padding-left:10px;
    padding-right: 10px;
    width: calc(100%-200px);
    font-size: 15px; 
    overflow: hidden;
}
.messagedate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:250px;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    align-self: center;
}
.accountmassagelink{
    margin-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 7px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
}
.accountmassage{
    height: 100%;
    width: 100%;
    border:2px;
    border-style: solid;
    border-color: rgb(0, 0, 14);
    background-color: rgb(194, 191, 191);
    border-radius: 30px;
    overflow: hidden;

}
.accountmassage img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width:100%;
    border-radius: 30px;
}
.pagination{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    margin-right: 15px;
    font-weight: bold;
    height: 100%;
    color: beige;
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(88, 46, 241),rgb(141, 51, 243));
    border:2px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 30px;
}
.page:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
.current_page{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    margin-right: 15px;
    font-weight: bold;
    height: 100%;
    color: beige;
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(88, 46, 241),rgb(141, 51, 243));
    border:2px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 10px;
}
@media screen and (min-width: 1800px) {
    .information{
        height: 700px;
    }
    .imagebook{
        height: 80%;
    }
    .bookdescription{
        font-size: 30px;
        height: 75%;
    }
}
@media screen and (max-width: 900px) {
    .information{
        flex-direction: column;
        align-items: center;
    }
    .date{
        display: none;
    }
    .bookdescription{
        width: 95%;
    }
    .bookdescription{
        font-size: 17px;
    }
}
@media screen and (max-width: 560px) {
    .bookdescription{
        font-size: 15px;
    }
}
@media screen and (max-width: 480px) {
    .chatcontainer{
        width:95%;
        margin-left: 2.5%;
    }
    .bookdescription{
        font-size: 12px;
    }
    .public{
        width: 80%;
    }

}
@media screen and (max-width: 390px) {
    .imagebook{
        height:310px;
    }
    .bookdescription{
        font-size: 10px;
    }

}