
.article{
    border:1px;
    border-style: solid;
    border-color: rgb(16, 16, 85);
    margin: 20px;
    background-color: rgb(182, 138, 223);
    height: 550px;
    border-radius: 20px;
}
.searchtitle{
    display: flex;
    flex-direction: row;
}
.searchresult{
    display: flex;
    flex-direction: column;
}
.searchsort{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.searchsort select{
    border:1px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: aliceblue;
}
.searchsort select:hover{
    border:2px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 20px;
    background-color: rgb(208, 217, 224);
}
.searchsort input{
    border:1px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(175, 212, 245);
    height:50px;
}
.searchsort input:hover{
    background-color: rgb(132, 188, 236);
}
#searchhiden{
    display: none;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 197, 253);
    width: 100%;
    height:60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    margin-right: 15px;
    font-weight: bold;
    height: 100%;
    background-color: rgb(217, 124, 240);
    border:2px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 30px;
}
.page:hover{
    border:3px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 30px;
    background-color: rgb(218, 99, 248);
}
.image{
    justify-content: center;
    align-items: center;
    display: flex;
    border:2px;
    border-style: solid;
    background-color: rgb(124, 124, 124);
    border-color: rgb(45, 17, 90);
    border-radius: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    width:50%;
    height: 90%;
    overflow: hidden;
}
.image img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width:100%;
    position: relative;
    border-radius: 20px;
}
.description{
    border-top: 3px;
    border-bottom: 3px;
    line-height: 17px;
    background-color: rgb(241, 220, 250);
    height:30%;
}
.text {
    font-size: 15px;
    margin-left: 2%;
    margin-top: 4%;
}
.code{
    display: flex;
    flex-direction: row;
    height: 6.6%;

}
.code span{
    align-self: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.code a{
    display: flex;
    flex-direction: row;
    width:33.3%;
    height:100%;
}
.id{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}
.views{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}
.chat{
    display: flex;
    font-weight: bold;
    background-color: rgb(122, 217, 255);
    height:80%;
    width:100%;
    border:1px;
    border-style: solid;
    border-color: rgb(16, 16, 85);
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.chat:hover{
    border:2px;
    border-style: solid;
    border-color: rgb(45, 17, 90);
    border-radius: 20px;
    background-color: rgb(60, 164, 206);
}
@media screen and (min-width: 1800px) {
    .description{
        padding-top: 5%;
    }
    .article{
        height:800px;
    }
    .image{
        width: 50%;
    }
}
@media screen and (max-width: 900px) {
    h1{
        font-size: 28px;
    }
    .article{
        height:420px;
    }
    .image{
        width: 50%;
    }
    .description{
        line-height: 13px;
    }
    .text{
        font-size: 10px;
    }
    .chat{
        width: 120px;
        height: 25px;
    }
    .id{
        font-size: 12px;
    }
    .views{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 22px;
    }
    .chat{
        font-size: 12px;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .text{
        font-size: 12px;
    }
    .article{
        margin-left: 7.5%;
        width: 85%;
        height:650px;
    }
    .text{
        font-size: 14px;
    }
    .id{
        font-size: 11px;
    }
    .views{
        font-size: 11px;
    }
    .image{
        width: 55%;
    }
}
@media screen and (max-width: 485px) {
    .searchtitle{
        flex-direction: column-reverse;
    }
    .article{
        margin-top: 10px;
        height:500px;
    }
    .text{
        font-size: 9px;
    }
}
@media screen and (max-width: 390px) {
    h1{
        font-size: 19px;
    }
    .article{
        height:400px;
    }
    .text{
        font-size: 10px;
    }
}