.content{
    display:flex;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
    width: 100%;
}
.errrortext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(75deg,rgb(56, 7, 121),rgb(108, 17, 182),rgb(122, 29, 228),rgb(134, 51, 243),rgb(153, 46, 241),rgb(189, 41, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.errorimage{
    width: 800px;

}
.errorimage img{
    width: 100%;
}
@media screen and (max-width: 900px) {
    .main{
        height: 800px;
    }
    .errorimage{
        width: 500px;
    }
}
@media screen and (max-width: 560px) {
    .main{
        height: 600px;
    }
    .errorimage{
        width: 300px;
    }
}
@media screen and (max-width: 349px) {
    .main{
        height: 400px;
    }
    .errorimage{
        width: 250px;
    }
}