body{
    background-color: rgb(252, 248, 217);
    margin:0;
}
body a:link{
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(75deg,rgb(56, 7, 121),rgb(108, 17, 182),rgb(122, 29, 228),rgb(134, 51, 243),rgb(153, 46, 241),rgb(189, 41, 248));
    height: 70px;
    width: 100%;
}
.home{
    height: 100%;
    width: 20%;
}
.home a{
    display: flex;
    color:beige;
    flex-direction: row;
}
.home a:hover{
    color:rgb(236, 217, 164);
}
.home img{
    margin-left: 2%;
    height: 65px;
    width: 65px;
}
.icontext{
    font-size: 24px;
    align-self: center;
}
.Search{
    display: flex;
    align-items: center;

    float: right;
    height: 100%;
    width: 420px;
    margin-left: 15.5%;
}
.Search form{
    float:left;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.searchbutton{
    width:15%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: beige;
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(88, 46, 241),rgb(141, 51, 243));
    border:1.5px;
    border-style: solid;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchbutton:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
#searchbar{
    width:85%;
    height:100%;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}
input{
    border:0px;
}
input:focus{
    outline: none;
    box-shadow: 0px 3px 1px 1px rgb(16, 16, 85);
}
.addbooklink{
    margin-top: 0.7%;
    margin-left: 5%;
    border-radius: 30px;
}
.addbook{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    border:2px;
    border-style: solid;
    border-color: beige;
    height: 50px;
    width: 200px;
    color: beige;
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(88, 46, 241),rgb(141, 51, 243));
    border-radius: 30px;
}

.addbook:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
.accountlink{
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
}
.account{
    height: 100%;
    width: 100%;
    border:2px;
    border-style: solid;
    border-color: beige;
    background-color: rgb(194, 191, 191);
    border-radius: 30px;
    overflow: hidden;

}
.account img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width:100%;
    border-radius: 30px;
}
.account:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
.flash{
    margin-top: 15px;
    border:2px;
    height: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(0, 0, 14);
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.flash.success {
    background: linear-gradient(90deg,rgb(180, 243, 144),rgb(132, 236, 129),rgb(76, 252, 69),rgb(52, 196, 64),rgb(6, 163, 14));
}
.flash.error {
    background: linear-gradient(90deg,rgb(250, 163, 163),rgb(219, 114, 114),rgb(241, 72, 72),rgb(202, 39, 39),rgb(218, 17, 17));
}
.searchtitle{
    display:flex;
    align-items: center;
    justify-content: center;
}
.searchtitle h1{
    color: rgb(113, 74, 150);
}
.content {
    min-height: 600px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 1800px) {
    .content{
        min-height: 850px;
    }
    .header{
        height:100px;
    }
    .Search{
        width:500px;
    }
    .home img{
        width:90px;
        height:90px;
    }
    .icontext{
        font-size: 37px;
    }
    .addbooklink{
        margin-left: 10%;
        width: 270px;
        height: 67px;
    }
    .addbook{
        font-size: 24px;
        width: 100%;
        height:100%;
    }
    .accountlink{
        width:70px;
        height:70px;
    }
    .account{
        border-radius: 50px;
    }
}
@media screen and (max-width: 900px) {

    .content{
        min-height: 1000px;
        grid-template-columns: repeat(2, 1fr);
    }
    .home{
        width:30%;
    }
    .icontext{
      font-size: 20px;
    }
    .Search{
      margin-left: 5%;
      width:300px;
    }
    .Search form{
        width:100%;
    }
    .addbooklink{
        margin-left: 2%;
       margin-top:2%;
       width: 100px;
       height: 30px;
    }
    .addbook{
        font-size: 10px;
        width:100%;
        height:100%;
    }
    .accountlink{
        margin-left: 3%;
        margin-right: 2%;
        margin-top: 1%;
        width: 45px;
        height: 45px;

    }
    #searchbar{
        width:75%;
    }
    .searchbutton{
        width:25%;
    }
}
@media screen and (max-width: 480px) {  
    .content{
        min-height: 700px;
        grid-template-columns:1fr;
    }
    .home{
        display: none;
    }
    .Search{
        margin-left: 3%;
        width:200px;
    }
    .Search form{
        width:100%;
    }
    .addbooklink{
        margin-left: 3%;
        margin-top:5%;
        width: 80px;
        height: 30px;
    }
    .searchbutton{
        font-size: 10px;
    }
    #searchbar{
        width:75%;
    }
    .searchbutton{
        width:25%;
    }
}
@media screen and (max-width: 349px) {
    .Search{
        margin-left: 2%;
    }
}