.content{
    display: flex;
    justify-content: center;
    align-content: center;
}
.registrationform{
    border:1px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    width:50%;
    height:500px;
    background-color: rgb(205, 136, 245);
}
.loginform{
    border:1px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    width:50%;
    height:500px;
    background-color: rgb(205, 136, 245);
}
.loginform h1{
    margin-left: 35%;
    font-size: 50px; 
}
.registrationform h1{
    margin-left: 27%;
    font-size: 50px;
}
.inputfield{
    border:1px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;
    height: 40px;
    font-size: 20px;
}
.sumbitbutton{
    font-weight: bold;
    border:1px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 10px;
    margin-left: 24%;
    width: 50%;
    height: 50px;
    background-color: rgb(116, 182, 245);
}
.sumbitbutton:hover{
    background-color: rgb(61, 133, 192);
}
.registrationform a{
    font-weight: bold;
    margin-top: 2%;
    margin-left: 38%;
}
.loginform a{
    font-weight: bold;
    margin-top: 2%;
    margin-left: 38%;
}
@media screen and (min-width: 1800px) {
    .registrationform{
        height: 700px;
    }
    .loginform{
        height: 700px;
    }
    .loginform h1{
        margin-top: 12%;
        margin-left: 42%;
    }
    .registrationform h1{
        margin-left: 34%;
        margin-top: 8%;
    }
    .sumbitbutton{
        font-size: 30px;
        height:70px;
    }
    .registrationform a{
        font-size: 20px;
    }
    .inputfield{
        height:60px;
    }
    .loginform a{
        font-size: 20px;
        margin-left: 40%;
    }
}
@media screen and (max-width: 900px) {
    .loginform{
        margin-top: 15%;
        width:75%;
        height: 600px;
    }
    .registrationform{
        margin-top: 15%;
        width:75%;
        height: 700px;
    }
    .registrationform h1{
        margin-top: 25%;
    }
    .loginform h1{
        margin-top: 25%;
        margin-left: 40%;
    }
    .loginform a{
        margin-left: 35%;
    }

}
@media screen and (max-width: 560px) {
    .loginform{
        margin-top: 15%;
        width:85%;
        height: 500px;
    }
    .registrationform{
        margin-top: 15%;
        width:85%;
        height: 500px;
    }
    .loginform h1{
        font-size: 40px;
        margin-top: 25%;
        margin-left: 30%;
    }
    .registrationform h1{
        font-size: 40px;
        margin-top: 25%;
        margin-left: 10%;
    }
    .loginform a{
        margin-left: 25%;
    }
}
@media screen and (max-width: 349px) {
    .loginform h1{
        font-size: 30px;
        margin-left: 30%;
    }
    .registrationform h1{
        font-size: 30px;
        margin-left: 16%;
    }
    .loginform a{
        margin-left: 17%;
    }
}