.content{
    display: flex;
    justify-content: center;
    align-content: center;
}
.registrationform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:2px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    width:50%;
    height:500px;
    background: linear-gradient(75deg,rgb(56, 7, 121),rgb(108, 17, 182),rgb(122, 29, 228),rgb(134, 51, 243),rgb(153, 46, 241),rgb(189, 41, 248));
}
.loginform{
    border:2px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    width:50%;
    height:500px;
    background: linear-gradient(75deg,rgb(56, 7, 121),rgb(108, 17, 182),rgb(122, 29, 228),rgb(134, 51, 243),rgb(153, 46, 241),rgb(189, 41, 248));
}
h1{
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(102, 153, 247),rgb(98, 138, 248),rgb(130, 100, 236),rgb(183, 212, 240),rgb(103, 159, 211) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.loginform h1{
    align-self: center;
    font-size: 50px; 
}
.registrationform h1{
    align-self: center;
    font-size: 50px;
}
.inputfield{
    border-radius: 10px;
    margin-bottom: 1.5%;
    width: 90%;
    height: 40px;
    font-size: 20px;
}
.sumbitbutton{
    font-weight: bold;
    border:2px;
    border-style: solid;
    border-radius: 30px;
    width: 50%;
    height: 50px;
    color: beige;
    background: linear-gradient(45deg,rgb(183, 212, 240),rgb(103, 159, 211) 30%,rgb(53, 119, 241),rgb(41, 96, 248),rgb(88, 46, 241),rgb(141, 51, 243));
}
.sumbitbutton:hover{
    box-shadow: 2px 2px 1px 1px rgb(16, 16, 85);
}
.registrationform a{
    font-weight: bold;
    margin-top: 2%;
    align-self: center;
    color: beige;
}
.loginform a{
    font-weight: bold;
    margin-top: 2%;
    align-self: center;
    color: beige;
}
.remember_me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    height:40px;
    width: 50%;
    font-weight: bold;
    color: beige;
}
.remember_me input{
    width:40px;
    height: 100%;
}
@media screen and (min-width: 1800px) {
    .registrationform{
        height: 700px;
    }
    .loginform{
        height: 700px;
    }
    .loginform h1{
        margin-top: 12%;

    }
    .registrationform h1{

        margin-top: 8%;
    }
    .sumbitbutton{
        font-size: 30px;
        height:70px;
    }
    .registrationform a{
        font-size: 20px;
    }
    .inputfield{
        height:60px;
    }
    .loginform a{
        font-size: 20px;
        margin-left: 40%;
    }
}
@media screen and (max-width: 900px) {
    .loginform{
        margin-top: 15%;
        width:75%;
        height: 600px;
    }
    .registrationform{
        margin-top: 15%;
        width:75%;
        height: 700px;
    }
    .registrationform h1{
        margin-top: 25%;
    }
    .loginform h1{
        margin-top: 25%;

    }

}
@media screen and (max-width: 560px) {
    .loginform{
        margin-top: 15%;
        width:85%;
        height: 500px;
    }
    .registrationform{
        margin-top: 15%;
        width:85%;
        height: 500px;
    }
    .loginform h1{
        font-size: 40px;
        margin-top: 25%;

    }
    .registrationform h1{
        font-size: 40px;
        margin-top: 25%;

    }
}
@media screen and (max-width: 349px) {
    .loginform h1{
        font-size: 30px;

    }
    .registrationform h1{
        font-size: 30px;

    }
}