{% extends "base.html" %}

{%block title%}{{ title }}{%endblock%}
{% block css %}<link rel="stylesheet" href="../static/css/account.css">{% endblock %}

{%block content%}
    <div class="accountfield">
        <div class="username"><h1>{{ user.get_username() }}</h1></div>
        <div class="avatar">
            <img src="/avatar" alt="">
        </div>
        <div class="aboutme">{{user.get_aboutme()}}</div>
        <a href="/account:folowed:sort=name-DESC/page=1" class="changepassword">
            <input type="submit" value="Вподобані книги" class="sumbitbutton">
        </a>
        <a href="/account:created:sort=name-DESC/page=1" class="changepassword">
            <input type="submit" value="Створені книги" class="sumbitbutton">
        </a>
        <a href="/account/changedata" class="changepassword">
            <input type="submit" value="Змінити Дані" class="sumbitbutton">
        </a>
        <a href="/logout" class="changepassword">
            <input type="submit" value="Вийти з акаунта" class="sumbitbutton logout">
        </a>
    </div>
{%endblock%}a