<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    {% block css %}{% endblock %}
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <div class="header">
            <div class="home">
                <a href="/home">
                    <img src="../static/image/icon.png" alt="Icon">
                    <div class="icontext">School Library</div>
                </a>
            </div>
            <div class="Search">
                <form action="/search" method="POST">
                    <input type="search" name="searchbar" id="searchbar" placeholder="Пошук">
                    <input type="submit" value="Пошук" class="searchbutton">
                </form>

            </div>
            <a href="/addbook" class="addbooklink">
                <div class="addbook">
                    Додати книгу 
                </div>
            </a>
            <a href="/login" class="accountlink">
                <div class="account">
                    <img src="/avatar" alt="">
                </div>
            </a>
    </div>
    {%for category, flash_massage in get_flashed_messages(True)%}
    <div class="flash {{category}}">{{flash_massage}}</div>
    {%endfor%}
    <div class="searchtitle">{%block search%}{%endblock%}</div>
    <div class="content">
    
    {% block content%}

    {%endblock%}
    </div>
    <div class="pagination">{%block pagination%}{%endblock%}</div>
<div class="footer">
        <div class="links">
            <div class="link">
                <img src="../static/image/telegram.png" alt=""><a href="https://t.me/+I5j_peIFvxwyNmUy" target="_blank"> Telegram Link</a>
            </div>
            <div class="link">
                <img src="../static/image/email.png" alt=""><a href="https://mail.google.com" target="_blank"> Email Link</a>
            </div>
            <div class="link">
                <img src="../static/image/github.png" alt=""><a href="https://github.com/Romankrasawa/library.git" target="_blank"> Github Link</a>
            </div>
        </div>
        <div class="footer_info">
            This site is created by Roman Voytovich
        </div>
</div>  
</body>
<script src="../static/js/script.js"></script>
</html>