{% extends "base.html" %}

{%block title%}{{ title }}{%endblock%}
{% block css %}<link rel="stylesheet" href="../static/css/addbook.css">{% endblock %}

{%block content%}
    <div class="addbookform">
        <form action="\changebook\{{id}}" method="post" enctype="multipart/form-data" name="changebook">
            <label class="custom-file-upload">
                Загрузити обкладинку
                <input type="file" accept=".jpg, .jpeg, .png" name="cover" id="loadcover" >
            </label>
            {%for i in information%}
            <input type="text" name="author" class="adddescription" placeholder="Автор" required maxlength="25" value="{{i['author']}}">
            <input type="text" name="name" class="adddescription" placeholder="Назва книги" required maxlength="40" value="{{i['name']}}">
            <input type="number" name="years" class="adddescription" placeholder="Рік видання" required min="0"  max="{{current_year}}" value="{{i['year']}}"> 
            <input type="number" name="pages" class="adddescription" placeholder="Кількість сторінок" required min="0" max="1500" value="{{i['pages']}}">
            <input type="text" name="company" class="adddescription" placeholder="Видавництво" required maxlength="30" value="{{i['company']}}">
            <input type="submit" value="Зміни книгу" class="sumbitbutton">
            {%endfor%}
        </form>    
        <form action="\deletebook\{{id}}" method="post">
            <input type="submit" value="Видалити" class="sumbitbutton" id="delete">
        </form>
    </div>
{%endblock%}