{% extends "base.html" %}

{%block title%}{{ title }}{%endblock%}
{% block css %}<link rel="stylesheet" href="../static/css/chat.css">{% endblock %}

{%block content%}
<div class="chatcontainer">
    {%for i in description%}
    <div class="information">
        <div class="imagebook">
            <img src="{{url_for('showpicture', id = i['book_id'])}}" alt="">
        </div>
        <div class="bookdescription">
            <div class="text">
                <p>Автор: {{i["author"]}}</p>
            </div>
            <div class="text">
                <p>Назва: {{i["name"]}}</p>
            </div>
            <div class="text">
            <p>Рік видання: {{i["year"]}}</p>
            </div>
            <div class="text">
             <p>Кількість сторінок:{{i["pages"]}}</p>
            </div>
            <div class="text">
            <p>Видавництво: {{i["company"]}}</p>
            </div>
        </div>
    </div>
    {%if i["user_id"] == current_user%}
    <div class="addfavourite">
        
           <a href="/changebook/{{id}}"><input type="button" value="Змінити книгу" class="public" id ="favorite"></a>
    </div>
    {%endif%}
    {%endfor%}
    <div class="chat">
        <form action="/addmassage/{{id}}" method="POST">
            <div class="addmassage">
                <textarea name="massage" class="textmassage" maxlength="2500"></textarea>
                <input type="submit" value="Опублікувати" class="public">   
            </div>
        </form>
        <div class="allmassages">
            {% for i in massages%}
                {%if i["user_id"] == current_user%}
                <div class="massage">
                    <div class="yourmessage">
                        <div class="massagetext">
                            {{i["text"]}}
                        </div>
                        <div class="messagedate">
                            {{i["time"]}}
                        </div>
                    </div>
                </div>
                {%else%}
                <div class="massage">
                    <div class="someonemessage">
                        <div class="massagetext">                  
                            {{i["text"]}}
                        </div>
                        <div class="messagedate">
                            {{i["time"]}}
                        </div>
                    </div>
                </div>
                {%endif%}
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}