{% extends "base.html" %}

{%block title%}{{ title }}{%endblock%}
{% block css %}<link rel="stylesheet" href="../static/css/chat.css">{% endblock %}

{%block content%}
<div class="chatcontainer">
    <div class="information">
        <div class="imagebook">
            {%for i in description%}
            <img src="{{url_for('showpicture', id = i['book_id'])}}" alt="">
        </div>
        <div class="bookdescription">
            <div class="text">
                <p>Автор: {{i["author"]}}</p>
            </div>
            <div class="text">
                <p>Назва: {{i["name"]}}</p>
            </div>
            <div class="text">
            <p>Рік видання: {{i["year"]}}</p>
            </div>
            <div class="text">
             <p>Кількість сторінок:{{i["pages"]}}</p>
            </div>
            <div class="text">
            <p>Видавництво: {{i["company"]}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="chat">
        <form action="/chat/{{id}}" method="POST">
            <div class="addmassage">
                <textarea name="massage" class="textmassage" maxlength="2500"></textarea>
                <input type="submit" value="Опублікувати" class="public">   
            </div>
        </form>
        <div class="allmassages">
            {% for i in massages%}
            <div class="message">
                <div class="massagetext">                  
                    {{i["text"]}}
                </div>
                <div class="messagedate">
                    {{i["time"]}}
                </div>
            </div>
            <div class="yourmessage">
                <div class="massagetext">
                    {{i["text"]}}
                </div>
                <div class="messagedate">
                    {{i["time"]}}
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}