{% extends "base.html" %}

{%block title%}Пошук {{ title }}{%endblock%}

{% block css %}
<link rel="stylesheet" href="../static/css/content.css">
{% endblock %}

{%block search%}
{%if searching > 1:%}
    <form action="/account:foloved" method="post" class="searchsort">
            <select name="sort">
                <option value="name-DESC">По назві(Я до А)</option>
                <option value="name-ASC">По назві(А до Я)</option>
                <option value="view-ASC">По популярності(зріст)</option>
                <option value="view-DESC">По популярності(спад)</option>
                <option value="book_id-DESC">Зпочатку новіші</option>
                <option value="book_id-ASC">Зпочатку старіші</option>
            </select>
            <input type="text" name="searchbar" id="searchhiden" value="{{searchthing}}" readonly="True">
            <input type="submit" value="Cортувати">
    </form>
{%endif%}
<h1>Створені книги</h1>
{%endblock%}
{%block content%}
    {% for i in search %}
            <div class="article js-scroll">
                <div class="photo">
                    <div class="image">
                        <img src="{{url_for('showpicture', id = i['book_id'])}}" alt="">
                    </div>
                </div>
                <div class="description">
                    <div class="text">
                        <p>Автор: {{i["author"]}}</p>
                    </div>
                    <div class="text">
                        <p>Назва: {{i["name"]}}</p>
                    </div>
                    <div class="text">
                    <p>Рік видання: {{i["year"]}}</p>
                    </div>
                    <div class="text">
                     <p>Кількість сторінок:{{i["pages"]}}</p>
                    </div>
                    <div class="text">
                    <p>Видавництво: {{i["company"]}}</p>
                    </div>
                </div>
                <div class="code">
                    <div class="id">
                        Код: {{i["book_id"]}}<br>
                    </div>
                    <a href="/changebook/{{i['book_id']}}">
                        <div class="chat">Редагувати</div>
                    </a>
                    <div class="views">
                        {{i["view"]}}<br>
                    </div>
                </div>
            </div>
    {% endfor %}
{%endblock%}
{%block pagination%}
{%if pages > 1:%}
    {%if current_page > 2:%}
    <a href="/account:created:sort={{sort}}/page=1" class="page"><div>First</div></a>
    {%endif%}
    {%if current_page > 1:%}
        <a href="/account:created:sort={{sort}}/page={{prev}}" class="page"><div>Prew</div></a>
    {%endif%}
    <div class="current_page">{{current_page}}</div>
    {%if current_page < pages:%}
        <a href="/account:created:sort={{sort}}/page={{next}}" class="page"><div>Next</div></a>
    {%endif%}
    {%if current_page < (pages-1):%}
    <a href="/account:created:sort={{sort}}/page={{pages}}" class="page"><div>Last</div></a>
    {%endif%}
{%endif%}
{%endblock%}