{% extends "base.html" %}

{%block title%}{{ title }}{%endblock%}
{% block css %}<link rel="stylesheet" href="../static/css/content.css">{% endblock %}

{%block content%}
        
        {% for i in code %}
        
            <div class="article">
                <div class="photo">
                    <div class="image">
                        <img src="../static/image/image_3.jpg" alt="">
                    </div>
                </div>
                <div class="description">
                    <div class="text">
                        <p>Автор: Стівен Кінг</p>
                    </div>
                    <div class="text">
                        <p>Назва: Воно</p>
                    </div>
                    <div class="text">
                    <p>Рік видання: 1987</p>
                    </div>
                    <div class="text">
                     <p>Кількість сторінок:636</p>
                    </div>
                    <div class="text">
                    <p>Видавництво: New York Times</p>
                    </div>
                </div>
                <div class="code">
                    <span>
                        Код: {{i}}<br>
                    </span>
                    <a href="/chat/{{i}}">
                        <div class="chat">Обговорення</div>
                    </a>
                </div>
            </div>
        {% endfor %}
{%endblock%}