{% extends "base.html" %}

{%block title%}{{ title }}{%endblock%}
{% block css %}<link rel="stylesheet" href="../static/css/login.css">{% endblock %}

{%block content%}
    <form action="/login" method="POST" class="loginform">
      <h1>Вхід</h1>
      <input type="text" name="username" class="inputfield" placeholder="Username" required maxlength="18">
      <input type="password" name="password" class="inputfield" placeholder="Password" required maxlength="25">
       <input type="submit" class="sumbitbutton" value="Увійти">
      <a href="register">Зареєструватися</a>
    </form>
{%endblock%}